@{
    ViewBag.Title = "Home Page";
}

<div class="imgb jumbotron text-center">
    <div class="content">
        <div class="event-date">DECEMBER 20–25, 2017, SHANGHAI</div>
        <h1>Title of Your Conference or Event</h1>
        <p class="lead">It's a tag line, where you can write a key point of your idea. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>

    </div>
</div>